* {
    box-sizing: border-box;
}

#indexH1 {
font-size: 6em;
height: 90vh;
padding-top: 30vh;
}

.indexh2  {
    float: left;
    position: relative;
    top:13px;
    width: 100%;
    background: rgba(70,130,180, .6);
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: white;
}


article {
    float: left;
    padding-top: 18vh;
    padding-bottom: 18vh;
    color: steelblue;
    text-align: justify;
    background: ivory;  
  
}

div.container-fluid {
    float: left;
    width: 100%;
    padding-top: 18vh;
    padding-bottom: 18vh;
}

#numbers div {
    padding: 0;
    text-align: center;
    border: solid rgba(1, 1, 1, 0) 4px;
    color: ivory;
    
}

#numbers div div{
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid yellow 2px;
}

#numbers h2 {
    font-size: 3em;
    display: inline;
    
}

#numbers p {
    display: inline;
    font-weight: 700;
    
}
@media (min-width:992px) and (max-width: 1280px) {
    #numbers div div{
        height: 120px;
        
    }

}
